.pp-main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin-top: 50dvh;
  width: 100%;
  background-color: #f2dbd7;
  padding: 3rem;
}

.pp-h1 {
  margin-top: 2rem;
  color: #000;
  font-size: 3rem;
  margin: 3rem 0;
}

.pp-img-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  height: 50dvh;
}

.pp-background-img {
  height: 80dvh;
  object-fit: cover;
}

.pp-info{
  color: black;
}

.pp-info > p {
  max-width: 700px;
  text-align: justify;
  padding: 1rem;
  margin-bottom: 2rem;
}

.pp-projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pp-layout{
  width: 100%;
  max-width: 900px;
}

.pp-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f2dbd7;
  color: black;
  height: 150px;
  padding: 0 3rem;
  font-size: 2rem;
  overflow: hidden;
}

.pp-project-nav {
  display: flex;
  align-items: center;
  font-size: clamp(1rem, 5vw, 1.8rem);
  cursor: pointer;
  user-select: none;
}

.hover-text.left {
  color: transparent;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: 0 0;
  -webkit-background-clip: text;
  background-clip: text;
  transition: transform 1s ease, background-position 1s ease;
}
.pp-project-nav:hover .hover-text.left {
  transform: scale(1.2);
  background-position: 100% 0;
}

.hover-text.center {
  color: transparent;
  background: linear-gradient(to bottom, white 50%, black 50%);
  background-size: 100% 200%;
  background-position: 0 -100%;
  -webkit-background-clip: text;
  background-clip: text;
  transition: transform 1s ease, background-position 1s ease;
}
.pp-project-nav:hover .hover-text.center {
  transform: scale(1.2);
  background-position: 0 0;
}

.hover-text.right {
  color: transparent;
  background: linear-gradient(to right, white 50%, black 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  background-clip: text;
  transition: transform 1s ease, background-position 1s ease;
}
.pp-project-nav:hover .hover-text.right {
  transform: scale(1.2);
  background-position: 0 0;
}

.pp-mobile-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f2dbd7;
  color: black;
  min-height: 150px;
  padding: 0 3rem 2rem;
  gap: 1rem;
  font-size: 2rem;
  overflow: hidden;
}

.mobile-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(2rem, 5vw, 5rem);
}

.mobile-nav div{
  width: 40%;
}
